* {
    &,
    &:before,
    &:after {
      box-sizing: border-box;
    }
    &:focus {
      outline: none;
    }
  }
  
  body {
    position: relative;
    margin: 0;
    color: $text_black;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    -webkit-focus-ring-color: rgba(255, 255, 255, 0);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: none;
    &.no-scroll {
      overflow-y: hidden;
    }
  }
  
  ul, ol {
    margin: 0;
    padding: 0;
  }
  
  li {
    list-style: none;
  }
  
  address {
    font-style: normal;
  }
  
  img,
  video,
  iframe {
    max-width: 100%;
  }
  
  hr {
    display: block;
    margin: 25px 0;
    border: 1px solid $border_grayLight;
  }
  
  img {
    border: 0;
    vertical-align: top;
  }
  
  h1, h2, h3, h4, h5, h6 {
    margin: 0;
  }
  
  p {
    margin: 0;
  }
  
  p {
    & + p{
      margin-top: 0.8rem;
    }
  }
  
  a {
    color: inherit;
    text-decoration: none;
    &:hover {
      color: inherit;
      text-decoration: none;
    }
  }
  
  svg {
    transition: fill $transition;
  }
  
  input,
  textarea {
    width: 100%;
    padding: 0;
    border: none;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    background-color: transparent;
  }
  
  textarea {
    height: 110px;
    resize: none;
  }
  
  button {
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    text-align: center;
    border: none;
    background: none;
    cursor: pointer;
  }
  
  .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    max-width: 100vw;
    min-height: 100vh;
    overflow: hidden;
    &.--tint {
      &:after {
        pointer-events: unset;
        background-color: rgba(23, 37, 52, .70);
        transition: background-color $transition;
        z-index: 10;
      }
    }
    &:after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: transparent;
      pointer-events: none;
    }
  }
  
  .content {
    min-height: 100vh;
  }
  
  .container {
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
    padding: 0 15px;
    @media (max-width: $desktop) {
      max-width: 1280px;
    }
    @media (max-width: $desktopSmall) {
      max-width: 100vw;
    }
  }
  
  .header + .content {
    padding-top: 130px;
    @media (max-width: $desktopSmall) {
      padding-top: 150px;
    }
    @media (max-width: $tablet) {
      padding-top: 145px;
    }
  }
  
  .main {
    &__head {
      margin-bottom: 40px;
    }
    &__title {
      margin-bottom: 25px;
    }
  }
  
  .badge {
    max-width: 100% !important;
  }
  
  .section {
    margin: 80px 0;
    &--inner {
      margin: 0;
      padding: 80px 0;
    }
    &__products {
      overflow: hidden;
    }
    &__row {
      display: flex;
      align-items: center;
      @media (max-width: $notebook) {
        flex-direction: column;
      }
      & + & {
        margin-top: 120px;
        @media (max-width: $desktop) {
          margin-top: 80px;
        }
        @media (max-width: $notebook) {
          margin-top: 40px;
        }
      }
      &[data-parallax-service] {
        align-items: flex-start;
        @media (max-width: $notebook) {
          position: relative;
          padding-top: 120px;
          & .section__block {
            order: 2;
            &.--image.--car {
              order: 1;
            }
            &.--image:not(.--car) {
              align-items: flex-start;
            }
          }
          & .section__block-title,
          & .section__block-description {
            position: absolute;
            top: 0;
            left: 0;
          }
          & .section__block-description {
            top: 50px;
            @media (max-width: $phone) {
              top: 100px;
            }
          }
        }
        & .section__block-info.--default {
          @media (max-width: $notebook) {
            justify-self: flex-start;
            max-width: 450px;
          }
        }
      }
    }
    &__block {
      width: 50%;
      padding: 0 30px;
      @media (max-width: $desktopSmall) {
        padding: 0;
      }
      @media (max-width: $notebook) {
        width: 100%;
        order: 1;
      }
      &[data-parallax-stats] {
        & .section__block-info {
          @media (max-width: $desktop) {
            margin: 0 auto;
          }
          @media (max-width: $notebook) {
            display: flex;
            justify-content: center;
          }
        }
      }
      &:first-child {
        &.--image {
          @media (max-width: $desktopSmall) {
            margin-right: 20px;
          }
          @media (max-width: $notebook) {
            margin-right: 0;
          }
        }
        & .section__block-info:not(.--default) {
          margin-left: auto;
          @media (max-width: $desktopSmall) {
            margin-right: 20px;
          }
          @media (max-width: $notebook) {
            margin-left: 0;
            margin-right: 0;
          }
        }
      }
      &:last-child {
        &.--image {
          @media (max-width: $desktopSmall) {
            margin-left: 20px;
          }
          @media (max-width: $notebook) {
            margin-left: 0;
          }
        }
        & .section__block-info:not(.--default) {
          margin-right: auto;
          @media (max-width: $desktopSmall) {
            margin-left: 20px;
          }
          @media (max-width: $notebook) {
            margin-left: 0;
            margin-right: 0;
          }
        }
      }
      &-info {
        max-width: 585px;
        @media (max-width: $notebook) {
          max-width: unset;
        }
        &.--default {
          padding: 0 50px;
          @media (max-width: $notebook) {
            padding: 0;
          }
        }
        & .title--block {
          margin-bottom: 12px;
          @media (max-width: $notebook) {
            margin-top: 40px;
          }
          @media (max-width: $tablet) {
            margin-top: 20px;
          }
        }
        & ul.text li:after {
          top: 9px;
          background-color: #74be2a;
        }
      }
      &-title {
        margin-bottom: 20px;
        &.title {
          @media (max-width: $notebook) {
            max-width: 500px;
            font-size: 32px;
          }
        }
      }
      &.--image {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        @media (max-width: $notebook) {
          order: 2;
          align-items: flex-start;
          padding: 30px 0 0;
        }
        & .section__block-image,
        & .section__block-video {
          max-width: 650px;
          border-radius: 6px;
          @media (max-width: $desktop) {
            max-width: 100%;
          }
        }
        & .section__block-info {
          //margin-top: 40px;
        }
        &.--car {
          @media (max-width: $notebook) {
            margin-top: 10px;
          }
          @media (max-width: $phone) {
            margin-top: 130px;
          }
          & .section__block-info {
            margin-top: 250px;
            padding-left: 30px;
            @media (max-width: $notebook) {
              margin-top: 155px;
              padding-left: 0;
            }
            @media (max-width: $tablet) {
              margin-top: 130px;
            }
          }
        }
      }
      &-image,
      &-video {
        position: relative;
        @media (max-width: $notebook) {
          max-height: 300px;
        }
        @media (max-width: $tablet) {
          width: 100%;
          max-height: unset;
          text-align: center;
        }
      }
      &-image {
        border-radius: 6px;
      }
    }
  }
  
  .date {
    color: $text_grayDate;
    font-size: 13px;
  }
  
  .none {
    display: none !important;
  }
  
  .hidden {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    opacity: 0;
    pointer-events: none;
  }
  
  .lang {
    &__link {
      padding: 18px 0 16px 10px;
    }
  }
  
  .telephone {
    position: relative;
    padding-left: 55px;
    font-size: 30px;
    font-weight: 300;
    white-space: nowrap;
    color: #fff;
    &__icon {
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      top: 3px;
      left: 0;
      width: 35px;
      height: 35px;
      border-radius: 50%;
      border: 1px solid;
    }
  }
  
  .--no-scroll {
    height: 100%;
    overflow-y: hidden;
    width: 100%;
    position: fixed;
  }
  
  .yandex-rating {
    display: flex;
    align-items: center;
    min-width: 150px;
    margin: 25px 0;
    & iframe {
      display: block;
    }
  }
  