.button {
    display: inline-block;
    padding: 12px 40px;
    font-size: 14px;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    white-space: nowrap;
    background-color: $bg_button;
    overflow: hidden;
    transition: color $transition, border-color $transition, background-color $transition, filter $transition;
  
    @media (max-width: $desktop) {
      padding-left: 22px;
      padding-right: 22px;
    }
  
    &:hover {
      color: #fff;
      background-color: $bg_buttonH;
    }
  
    &--form {
      min-width: 200px;
      padding-top: 17px;
      padding-bottom: 17px;
      @media (max-width: $desktopWide) {
        min-width: 175px;
      }
      @media (max-width: $desktopSmall) {
        min-width: 215px;
      }
    }
  
    &--mini {
      padding-top: 14px;
      padding-bottom: 15px;
      font-size: 13px;
    }
  
    &--wide {
      width: 100%;
    }
  
    &--disabled {
      filter: grayscale(1);
      pointer-events: none;
    }
  
    &--orange {
      background: $gradient_orange;
      &:hover {
        filter: saturate(2);
      }
    }
  
    &--gray {
      color: $black;
    }
  
    &--light {
      background-image: $gradient_aqua;
      &:hover {
        filter: saturate(0.9);
      }
    }
  
    &--aqua {
      color: #fff;
      background: $gradient_aqua;
      &:hover {
        color: #fff;
        filter: saturate(1.25);
      }
    }
  
    &--transparent {
      background: transparent;
      &:hover {
        background: transparent;
      }
  
      &.button--gray {
        border: 1px solid $text_grayL;
        &:hover {
          border-color: $border_orange;
          color: $border_orange;
        }
      }
  
      &.button--blue {
        color: $text_link;
        border: 1px solid $text_link;
        &:hover {
          border-color: $text_blendLight;
        }
      }
  
      &.button--orange {
        border: 1px solid $border_orange;
        &:hover {
          border-color: #fff;
        }
      }
    }
  }
  