.input {
    border: solid 1px rgb(218, 218, 218);
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 15px;
    transition: all $transition;
    &::placeholder {
        font-size: 13px;
        color: grey;
    }
    &:hover {
        border: solid 1px #DB4C3F;
    }
    &:last-child {
        margin-bottom: 0px;
    }
}